<head>
    <title>
        Confirmation.
    </title>

    <style>
        *{
                box-sizing: border-box;
                font-family:sans-serif;
                margin: 0cm;
                padding: 00mm;
                font-size: 25px;

        }
        body{
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #cce6e6, #dfb053 , #45179b);
            display: flex;
            padding: 10px;
            box-sizing: border-box;
           }
        



    </style>
</head>

<Body>

    <div>
    Thanks For Choosing Our Service.
    <br>
    We Will Contact You Soon.
    </div>
    
</Body>